/*
Colors used:
Background Color (Light Grey): #EFF2F1;
Hero Background: (Light Blue): #6B9AC4;
Button Color (Yellow): #F4B942;
Link Colour (Blue): 4059AD;
Secondary Color (Teal): 62BBDD;
*/

* {
  box-sizing: border-box;
}


/* Fonts & Headings */

body {
  background-color: #EFF2F1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #595A5A;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.50em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 1.50em;
  font-weight: 400;
  text-align: center;
}



/* Buttons & Links */

a {
  color: #4059AD;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #4059AD;
}

a:hover,
a:focus {
  color: #62BBDD;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #62BBDD;
}



.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F4B942;
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #5F837E;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #C07665;
}

.button.contact {
  background-color: transparent;
  color: #F4B942 !important;
  text-transform: uppercase;
  border: 2px solid #F4B942;
}

.button.contact:hover {
  background-color: #F4B942;
  color: #ffffff !important;
}



/* Layout styling */

header {
  background-color: #EFF2F1;
  padding: 10px;
  margin: auto;
  text-align: center;
  position: fixed;
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  width: 100%;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}


.logo {
  max-width: 250px;
}

img {
  width: 100%;
}

main {
  padding-top: 133px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #595A5A;
}

nav>ul>li>a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

nav>ul>li>a:active {
  opacity: 0.7;
}

footer {
  background-color: #F3F3F3;
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.social>ul {
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
}

.social>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #595A5A;
}

.social>ul>li>a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.social>ul>li>a:active {
  opacity: 0.7;
}



/* index.html */

#hero {
  background-color: #6B9AC4;
  padding: 20px 0;
  width: 100%;
}

#hero h1 {
  text-align: center;
  color: #FFFFFF;
}

#hero p {
  color: #FFFFFF;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #595A5A;
}
