/*
Colors used:
Background Color (Light Grey): #FFFFFF;
Hero Background: (Light Blue): #6B9AC4;
Button Color (Yellow): #F4B942;
Link Colour (Blue): #4059AD;
Secondary Color (Teal): 62BBDD;
*/
* {
  box-sizing: border-box;
}

/* Fonts & Headings */
body {
  background-color: #fff;
  font-family: 'Poppins','Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #343450;
}

.center {
  text-align: center;
}

.padding10 {
  padding-bottom: 20px;
}

h1,
h2,
h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
  margin: 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

/* Buttons & Links */
a {
  color: #343450;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #343450;
}

a:hover,
a:focus {
  color: #62bbdd;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #62bbdd;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background: #100F34;
  color: #fff !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 0.6em 1.6em;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid #31468f;
  /* button animation */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #c07665;
}

.button.contact {
  background-color: transparent;
  color: #5166ad !important;
  text-transform: uppercase;
  border: 2px solid #5166ad;
}

.button.contact:hover {
  background-color: #263770;
  color: #fff !important;
}

.wrapper {
  text-align: center;
}

/* Layout styling */
header {
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.75);
  width: 100%;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row.last {
  margin-bottom: 0;
  border-bottom: none;
}

.logo {
  max-width: 120px;
  padding-top: 7px;
}

img {
  width: 100%;
}

main {
  padding-top: 70px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  color: #9ea5dd;
}

nav>ul>li>a:hover {
  opacity: 0.7;
}

nav>ul>li>a:active {
  opacity: 0.9;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  color: #343450;
}

.navtoggle.responsive li {
  display: block;
  text-align: right;
}

.navtoggle.responsive nav {
  padding: 8px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.navtoggle.responsive li:last-child {
  padding: 0;
  border-bottom: none;
}

footer {
  background-color: #ebeeff;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  width: 100%;
}

footer h2 {
  padding-top: 60px;
  margin: 0;
}

.social>ul {
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
  text-align: center;
}

.social>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #343450;
}

.social>ul>li>a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.social>ul>li>a:active {
  opacity: 0.7;
}

/* index.html */
#hero {
  background-color: #D0D1E2;
  padding: 10px 0;
  width: 100%;
}

#hero h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #34354E;
}

#hero h1 p {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #595a5a;
}

/* About Page */
#about-page h3 {
  margin-top: 0;
}

#rcorners1, #rcorners2 {
  border-radius: 25px;
    padding: 20px;
    width: 700px;
    height: 100px;
    margin: auto;
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

.about h2 {
  text-align: center;
}

#hero p {
  color: white;
  text-align: center;
}

#hero h1 span {
  display: block;
  font-size: 18px;
  font-weight: 300;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6 {
    width: 50%;
  }

  header {
    text-align: unset;
    font-size: 16px;
    padding: 0px 0;
  }

  .logo {
    max-width: 160px;
    padding-top: 24px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 8px;

  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  main {
    padding-top: 60px;
  }

  body {
    font-size: 24px;
  }

  #hero {
    padding: 20px 50px;
  }

  #hero h1 {
    padding-top: 30px;
  }

  #hero {
    background: #D0D1E2;
    height: 280px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
  }

  #work img {
    padding-top: 0em;
    border: 1px solid #ccc;
  }

  #about {
    padding: 30px 0 0;
  }

  /* Style the Image Used to Trigger the Modal */
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #box {
    padding-top: 2px;
  }

  .para {
    max-width: 800px;
    margin: 0 auto;
  }

  .pic1 {
    width: 650px;
    margin: 0 auto;
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .col-lg-7 {
      width: 60%;
    }

    .col-lg-5 {
      width: 40%;
    }

    .col-lg-4 {
      width: 50%;
    }



    #hero {
      padding: 20px 50px;
    }

    #hero h1 {
      padding-top: 30px;
    }

    #about {
      padding: 60px 100px;
    }

    #background {
      width: 100%;
    }

    #leveledge {
      padding: 50px;
    }

    #skills {
      border: 1px solid #595a5a;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .copyright {
    margin: 0;
    padding: 0.6em;
  }

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {}
