/*
Colors used:
Background Color (Light Grey): #EFF2F1;
Hero Background: (Light Blue): #6B9AC4;
Button Color (Yellow): #F4B942;
Link Colour (Blue): #4059AD;
Secondary Color (Teal): 62BBDD;
*/
* {
  box-sizing: border-box;
}

/* Fonts & Headings */
body {
  background-color: #EFF2F1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #595A5A;
}


.center {
  text-align: center;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.50em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  margin: 0
}

h4 {
  font-size: 1.50em;
  font-weight: 400;
}

/* Buttons & Links */
a {
  color: #4059AD;
  text-decoration: underline;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #4059AD;
}

a:hover,
a:focus {
  color: #62BBDD;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #62BBDD;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F4B942;
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid #DB9714;
  /* button animation */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #C07665;
}

.button.contact {
  background-color: transparent;
  color: #F4B942 !important;
  text-transform: uppercase;
  border: 2px solid #F4B942;
}

.button.contact:hover {
  background-color: #F4B942;
  color: #ffffff !important;
}

/* Layout styling */
header {
  background-color: #EFF2F1;
  padding: 10px 0px 10px 0px;
  margin: auto;
  position: fixed;
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  width: 100%;
}



.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  max-width: 150px;
  padding-top: 7px;
}

img {
  width: 100%;
}


main {
  padding-top: 56px;
}



nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: #595A5A;
  width: 100%
}

nav>ul>li>a:hover {
  opacity: 0.7;
}

nav>ul>li>a:active {
  opacity: 0.9;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

footer {
  background-color: #F3F3F3;
  padding: 0px 10px;
  margin: auto;
  text-align: center;
  width: 100%;
}

.social>ul {
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
}

.social>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #595A5A;
}

.social>ul>li>a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.social>ul>li>a:active {
  opacity: 0.7;
}

/* index.html */
#hero {
  background-color: #6B9AC4;
  padding: 20px 0;
  width: 100%;
}

#hero h1 {
  text-align: center;
  color: #FFFFFF;
}

#hero h1 p {
  display: block;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #595A5A;
}

/* About Page */
#about-page h3 {
  margin-top: 0;
}

[class*="col-"] {
  float: left;
  padding: 0px 10px 0px 10px;
}

.about h2 {
  text-align: center;
}

#hero p {
  color: white;
  text-align: center;
}

#hero h1 span {
  display: block;
  font-size: 18px;
  font-weight: 300;
}

/* SVG Animation */
@keyframes color-change-purple {
  from {
    fill: #686AF6;
  }

  to {
    fill: #FFFFFF;
  }
}

@keyframes color-change-gray {
  from {
    fill: #3E3E54;
  }

  to {
    fill: #FFFFFF;
  }
}

@keyframes arm {
  from {
    fill: #F5BBBA;
  }

  to {
    fill: #F5BBBA;
  }

  from {
    transform: translate(0);
  }

  to {
    transform: translate(5px);
  }
}

.p1 {
  animation-duration: 0.25s;
  animation-name: color-change-purple;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.g2 {
  animation-duration: 0.2s;
  animation-name: color-change-gray;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.p2 {
  animation-duration: 0.25s;
  animation-name: color-change-purple;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.g3 {
  animation-duration: 0.3s;
  animation-name: color-change-gray;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.p3 {
  animation-duration: 0.28s;
  animation-name: color-change-purple;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.g4 {
  animation-duration: 0.27s;
  animation-name: color-change-gray;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.g5 {
  animation-duration: 0.32s;
  animation-name: color-change-gray;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.g6 {
  animation-duration: 0.21s;
  animation-name: color-change-gray;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.arm {
  animation-duration: 1s;
  animation-name: arm;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

svg {
width: 100%;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6 {
    width: 50%;
  }

  header {
    text-align: unset;
    padding: 20px 0 16px;
  }

  .logo {
    max-width: 250px;
    padding-top: 38px;
  }


  nav {
    width: auto;
    float: right;
    padding-top: .8em;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
}

  main {
    padding-top: 100px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    padding: 30px 100px;
  }

  #work img {
    padding-top: 3.5em;
  }

  #about {
    padding: 30px 0px 0px;
  }


  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .col-lg-7 {
      width: 60%;
    }
  }
    .col-lg-5 {
      width: 40%;
    }

    #about {
      padding: 60px 100px;
    }

    #leveledge {
      padding: 50px;
    }

    #skills {
      border: 1px solid #595A5A
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    .snip1217 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }

    .snip1217 li {
      display: inline-block;
      list-style: outside none none;
      margin: 0.5em 1em;
      padding-bottom: 0;
    }

    .snip1217 a {
      padding: 0.3em 0;
      color: #4059AD;
      position: relative;
      text-decoration: none;
      display: inline-block;
    }

    .snip1217 a:before,
    .snip1217 a:after {
      height: 3px;
      position: absolute;
      content: '';
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      background-color: #4059AD;
      width: 0;
    }

    .snip1217 a:before {
      top: 0;
      left: 0;
    }

    .snip1217 a:after {
      bottom: 0;
      right: 0;
    }

    .snip1217 a:hover,
    .snip1217 .current a {
      color: #4059AD;
    }

    .snip1217 a:hover:before,
    .snip1217 .current a:before,
    .snip1217 a:hover:after,
    .snip1217 .current a:after {
      width: 100%;
    }


  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {}
